.art-direction-zx9 {
  width: 172px;
  height: 207px;
}

.art-direction-zx7 {
  height: 320px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .art-direction-zx9 {
    width: 197px;
    height: 237px;
  }
}

@media screen and (min-width: 1000px) {
  .art-direction-zx9 {
    width: 410px;
    height: 493px;
    margin-bottom: -1rem;
  }
}
